<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Programação</title>
</head>
<body>
   
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" id="cabe">
  <img src="">
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            <a class="Programaçãolink" link href="#">Programação</a>
            <a class="Programaçãolink" link href="#">Promoções</a>
          </form>
        </div>
      </nav>
      <br>
      <br>
    <h1>Programação</h1>    

<div class="filmecard">

</div>

<div class="catalogo">
    <div class="sobre">
        <h3 class="dia">Dia 
            <p>26/06</p>
            <p>12/07</p></h3>   
            <h3 class="Filmes">Filmes</h3>
             <h3 class="Sala">Sala
                <p>1A</p>
                <p>3B</p>
             </h3> 
              <h3 class="Horario">Horario
                <p>18:30</p>
                <p>20:00</p>
              </h3>               
    </div>
</div>
</body>



<footer>

</footer>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>