    div.catalogo{
   /*  background-color: black; */
    width: 100%;
    height: 100%;
    
}
div.P h1{
    font-family: fantasy;
    margin-left: 10px;
    padding-bottom: 40px;
}
#cabe{
   background-color:rgb(255, 255, 255);
    border-radius: 0%;
    width: 100%;
    height: 100px;
}
#cabe a{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-family: fantasy;
    padding: 10px 100px 10px 100px;
    font-style: normal;
}
#cabe button{
    color: black;
    border-color: black;
}
#cabe button.btn:hover{
    color: white;
    cursor: pointer;
    background-color: blue;
    
}
table h3{
    margin-left: 100px;
}
table th p{
    margin-left: 100px;
    padding-bottom: 50px;
    font-size: medium;
    margin-top: 50px;
    font-style: strong;
}
table td p{
    margin-left: 120px;
    padding-bottom: 10px;
    margin-top: 50px;
    border-color: black;
}
#cabe img{
    width: 100px;
}

.navbar{
    background-color: rgb(255, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
}
table td img{
    width: 250px;
}
table td img#VF{
    width: 250px;
    height: 320px;
}
#cabe input.form-control{
    padding-right: 100px;
    margin-right: 20px;
}
table h2{
    font-size: medium;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}